*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    margin-top: 0px;
    background-color: rgb(240, 240, 240)

    ;
}
  
.container{
    
    left: 0px;
    right: 0px;
    margin: auto;
    margin-top: 130px;
    position: relative;
    height: auto;
    padding: 10px;
    width: 350px ;
    box-shadow: 0.001rem 0.001rem 16px rgb(197, 197, 197);
    background-color: rgb(255, 255, 255);
    border-radius: 45px;
}

.circle{
    width:200px ;
    height: 200px;
    margin-top: -120px;
    display: inline-block;
    border-radius: 5000px;
    overflow: hidden;
    border: 1px solid rgb(240, 240, 240);
    box-shadow:
    inset 0 -3em 3em rgba(0,0,0,0.1),
         0 0  0 2px rgb(240, 240, 240),
         0.3em 0.3em 1em rgba(0,0,0,0.3);

}

input{
    width: 90%;
    padding: 12px 20px;
    margin: 14px 0;
    box-sizing: border-box;
    border: 2px solid rgb(223, 172, 34);
    border-radius: 8px;
}

input[type=text]:focus {
    border: 3px solid #555;
}

button{
    background-color: rgb(223, 172, 34);
    border: none;
    color: white;
    padding: 12px 20px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    box-sizing: border-box;
}

button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }

form a, center a{
    text-decoration: none;
    color: rgb(223, 172, 34);
    font-weight: 600;
}

  /* enoch is testing this */
  .error{color: red;}
