@font-face {
    font-family: nunito;
    src: url('../fonts/nunito/Nunito-Regular.ttf');
}
*{
    font-family: nunito;
}

body{
    margin-top: 0px;
    background-color: rgb(240, 240, 240);
}
  
.container{
    
    left: 0px;
    right: 0px;
    margin: auto;
    margin-top: 130px;
    position: relative;
    height: auto;
    padding: 10px;
    width: 350px ;
    box-shadow: 0.001rem 0.001rem 16px rgb(197, 197, 197);
    background-color: rgb(255, 255, 255);
    border-radius: 45px;
}

.circle{
    width:200px ;
    height: 200px;
    margin-top: -120px;
    display: inline-block;
    border-radius: 5000px;
    overflow: hidden;
    border: 1px solid rgb(240, 240, 240);
    box-shadow:
    inset 0 -3em 3em rgba(0,0,0,0.1),
         0 0  0 2px rgb(240, 240, 240),
         0.3em 0.3em 1em rgba(0,0,0,0.3);

}

input{
    width: 90%;
    padding: 12px 20px;
    margin: 14px 0;
    box-sizing: border-box;
    border: 2px solid rgb(223, 172, 34);
    border-radius: 8px;
}

input[type=text]:focus {
    border: 3px solid #555;
}

button{
    background-color: rgb(223, 172, 34);
    border: none;
    color: white;
    padding: 12px 20px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    box-sizing: border-box;
}

button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }

form a, center a{
    text-decoration: none;
    color: rgb(223, 172, 34);
    font-weight: 600;
}

  /* enoch is testing this */
  .error{color: red;}

/* checkbox on login page  */
 /* .checkbox_login .cbx {
    margin: auto;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
  }
  .checkbox_login .prompt{
      font-weight: 700;
  }
 .checkbox_login .cbx span {
    display: inline-block;
    vertical-align: middle;
    transform: translate3d(0, 0, 0);
  }
 .checkbox_login .cbx span:first-child {
    position: relative;
    width: 18px;
    height: 18px;
    border-radius: 3px;
    transform: scale(1);
    vertical-align: middle;
    border: 1px solid #9098A9;
    transition: all 0.2s ease;
  }
 .checkbox_login .cbx span:first-child svg {
    position: absolute;
    top: 3px;
    left: 2px;
    fill: none;
    stroke: #FFFFFF;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 16px;
    stroke-dashoffset: 16px;
    transition: all 0.3s ease;
    transition-delay: 0.1s;
    transform: translate3d(0, 0, 0);
  }
.checkbox_login  .cbx span:first-child:before {
    content: "";
    width: 100%;
    height: 100%;
    background: rgb(223, 172, 34);
    display: block;
    transform: scale(0);
    opacity: 1;
    border-radius: 50%;
  }
.checkbox_login  .cbx span:last-child {
    padding-left: 8px;
  }
.checkbox_login  .cbx:hover span:first-child {
    border-color: #506EEC;
  }
  
.checkbox_login  .inp-cbx:checked + .cbx span:first-child {
    background: rgb(223, 172, 34);
    border-color: rgb(223, 172, 34);
    animation: wave 0.4s ease;
  }
 .checkbox_login .inp-cbx:checked + .cbx span:first-child svg {
    stroke-dashoffset: 0;
  }
.checkbox_login .inp-cbx:checked + .cbx span:first-child:before {
    transform: scale(3.5);
    opacity: 0;
    transition: all 0.6s ease;
  }
  
  @keyframes wave {
    50% {
      transform: scale(0.9);
    }
  } */

