<!-- html  -->

{% extends "base.html" %}

<!-- head -->
{% block title %}
<title>JJED</title>
{% endblock %}


{% block header %}
<header id="myheader">
    
  <ul class="avatar">
    <li>
      <img class="side_image" src="{{url_for('static',filename = 'images/turntabl.gif')}}" alt="avatar">
    </li>
    <li><p>Turntabl</p></li>
  </ul>
    <center>
      <strong>JJED</strong>
    </center>
    <ul class="avatar">
      <li><strong>{{session.get("username")}}</strong></li>
      <li><br></li>
      <li>
        
          <button type="button" class="btn" data-toggle="modal" data-target="#logoutmodal">
            log out
            <i class="fa fa-sign-out" aria-hidden="true"></i>
          </button>
        
      </li>
    </ul>
</header>
{% endblock %}

<!-- body -->
{% block body %}
    <div class="main">

        <div id="side" class="mycard">
          <div class="mycard_title">Attendance Status</div>
            <div class="side_scroll">
              <table id="mainTable" class="table">
                  <thead>
                      <tr>
                          <th>Names</th>
                          <th>Status</th>
                          <th>Time</th>
                      </tr>
                  </thead>
                  <tbody>
                    {% for intern in range(lenght_attendance)%}
                      <tr>
                          <td>{{attendance[intern][1]}}</td>
                          <td><i class="fa fa-check text-success" aria-hidden="true"></i></td>
                          <td>{{attendance[intern][2]}}</td>
                      </tr>
                      {%else%}
                      
                      <tr>
                        <td>No Student present</td>
                    </tr>
                      {% endfor%}
                      
                  </tbody>
              </table>
            </div>
        </div>


        <div id="controls">
          <!-- add card headers -->
            <div id="create" class="mycard">
                <form action="" method="POST">
                    <div class="form-group">
                        <!-- <input type="text"  placeholder="Enter Title"> -->
                        <select class="form-control" name="title" id="title">
                          <option value=""  selected hidden>select an activity</option>
                          <option value="Activity">Activity</option>
                          <option value="Zoom Link">Zoom Link</option>
                          <option value="Lab link">Lab link</option>
                          <option value="Quick Notes">Quick Notes</option>
                        </select>
                    </div>
            
                    <div class="form-group">
                        <input type="text" class="form-control" id="content" name="content" placeholder="Enter Content">
                    </div>
                    <center>
                      <input class="btn btn-primary" type = "submit" value = "Create activity" name = "submit">
                      <!-- <button type="submit" class="btn btn-primary">Create</button> -->
                    </center>
                </form>
            </div>

            

            <div id="view" class="mycard ">
              <div class="mycard_title">Activities</div>
              <div class="view_scroll">
                {% for activity in range(lenght) %}
              <div class="data border_left_brown">
                <ul class="avatar">
                  <li><small>{{activities[activity][1]}}</small></li>
                  <li>{{activities[activity][2]}}</li>
                  <!-- <li>
                    <form action="/admin_home/edit_id" method="POST">
                      <input type="text" value="{{activities[activity][0]}}" name="id" hidden>
                      <button type="submit"  class="btn btn-primary" data-toggle="modal" data-target="#editmodal">
                          <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                        </button>
                  </form>
                  </li> -->
                  <br>
                  <li>
                    <form action="" method="POST">
                      <input type="text" value="{{activities[activity][0]}}" name="delete_id" hidden>
                      <input class="btn btn-danger" type = "submit" value = "Delete" name = "submit">
                      <!-- <button type="submit" class="btn btn-danger" > -->
                          <i class="fa fa-trash-o " aria-hidden="true"></i>
                        </button>
                  </form>
                  </li>
                </ul>
              </div>
              {% else %}
              <div class="data border_left_red">
                <ul class="avatar">
                  <li>No activities added</li>
                  <br>
                  <li><small>create an activity</small></li>
                </ul>
              </div>
              {% endfor %}
                <!-- <table id="" class="table">
                    <tbody>
                        <tr>
                          <td>Git and Github as a distributed version control system</td>
                          <td>
                              
                              <form action="">
                                  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editmodal">
                                      <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                    </button>
                              </form>
                          </td>
                          <td>
                              <form action="">
                                  <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deletemodal">
                                      <i class="fa fa-trash-o " aria-hidden="true"></i>
                                    </button>
                              </form>
                          </td>
                        </tr>
                        <tr>
                            <td>Row 1 Data 1</td>
                            <td><i class="fa fa-pencil-square-o text-primary" aria-hidden="true"></i></td>
                            <td><i class="fa fa-trash-o text-danger" aria-hidden="true"></i></td>
                        </tr>
                    </tbody> -->
                </table>
              </div>
            </div>
        </div>

    </div>
<div class="clear"></div>


<!-- floating action button -->
<div class="add_intern">
  <button type="submint" value="Add" class="btn btn-primary" data-toggle="modal" data-target="#createmodal">
    <i class="fa fa-plus" aria-hidden="true"></i>
  </button>
</div>



<!-- Create Modal -->
<div class="modal fade" id="createmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"><center>Add Intern</center></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="" method="POST" >
        <div class="modal-body">

            <div class="form-group">
              <input class="form-control" type="text" name="username" placeholder=" Enter Intern name">
            </div>

            <div class="form-group">
              <input class="form-control" type="text" name="contact" placeholder=" Enter Intern contact">
            </div>

            <div class="form-group">
              <input class="form-control" type="text" name="email" placeholder=" Enter Intern email">
            </div>

            <div class="form-group">
              <input name="school" type="text" class="form-control form-control-user" placeholder="Enter Scchool">
            </div>

            <div class="form-group">
              <!-- <input class="form-control" type="text" name="level" placeholder=" Enter Level"> -->
              <select class="form-control" name="level" id="level">
                <option value=""  selected hidden>select level</option>
                <option value="100">100</option>
                <option value="200">200</option>
                <option value="300">300</option>
                <option value="400">400</option>
              </select>
            </div>
          
        </div>
        <div class="modal-footer">  
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <!-- <button type="button" class="btn btn-danger">Create</button> -->
            <input class="btn btn-primary" type = "submit" value = "Add Student" name = "submit">
          </form>

          <form action="" method="POST" enctype="multipart/form-data">
            <ul class="avatar">
              <li><input type="file" class="btn btn-warning btn-sm" name="file"></li>
              <li><input type="submit" class="btn-success btn-sm" name="submit"  value="csvfile"></li>
            </ul>
          </form>
          
        </div>
    
       

    </div>
  </div>
</div>






<!-- Edit Modal -->
<div class="modal fade" id="editmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"><center>Edit Content</center></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      
          <input type="text" value="id: ">
          <div class="form-group">
            <select class="form-control" name="title" id="title">
              <option value=""  selected hidden>select an activity</option>
              <option value="Activity">Activity</option>
              <option value="Zoom Link">Zoom Link</option>
              <option value="Lab link">Lab link</option>
              <option value="Quick Notes">Quick Notes</option>
            </select>
        </div>

        <div class="form-group">
          <input name="content" value="" type="text" class="form-control form-control-user" placeholder="Enter Scchool">
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Update</button>
      </div>
    </div>
  </div>
</div>

<!-- Logout Modal -->
<div class="modal fade" id="logoutmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title " id="exampleModalLabel"><center>Logout Modal</center></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <center>
          You are Attempting to Log out. <br>
        Are you sure you want to<strong></strong> logout ?</strong>
        </center>
      </div>
      <div class="modal-footer">
          <form action="/logout">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

            <button type="submit" class="btn btn-primary">Logout</button>
          </form>
      </div>
    </div>
  </div>
</div>


{% endblock %}


