<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administrator Login</title>
    <link rel="stylesheet" href="/static/css/style_login.css" type="text/css">
</head>
<body>
    <div class="container">
        <center>
            <div class="circle">
                <img src="/static/images/turntabl.gif" alt="turntabl" style="width: 200px; height: 200px;">
            </div><br><br>
            <center><h3>Admin</h3></center>
            <form action="" method="POST">
                <input type="text" name="name" id="name" placeholder="Enter Your Name"><br>
                <input type="password" name="password" id="password"placeholder="password"><br>
                <button type="submit">LOGIN </button>
            </form>
           Are you an  <a href="/">Intern?</a>
        </center><br>  
    </div>
   
</body>
</html>

