<!-- base template for template inheritance -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- <link rel="stylesheet" type="text/css"  href="//cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css"> -->
    
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="/static/css/style.css">
    <!-- <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>JJED</title>
    
</head>
<body>
    <header id="myheader">
    
        <ul class="avatar">
          <li><img class="side_image" src="{{url_for('static',filename = 'images/avatar.png')}}" alt="avatar"></li>
          <li><p>Admin</p></li>
        </ul>
          <center>
            Admin Dashboard
          </center>
          {% block header %} 
    
          {% endblock %}
    </header>
    
    
   
    
       
    {% block body %}
    
    {% endblock %}
    <footer id="myheader">
        <center>This page is copyright &copy; Protected by JJED</center>
    </footer>
       
</body>
</html>