<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style_login.css" type="text/css">
    <title> JJED STUDENT LOG AND ACTIVITIES SYSTEM </title>
</head>

<body>     
       <div class = "container">
        <center>
          <div class="circle">
            <img src="/static/images/turntabl.gif" alt="turntabl" class="avatar"  style="width:200px ;height:200px">
          </div> <br> <br>
        <form action="" method = "POST" >
          <label for="name"><b>Intern</b></label><br>
          <input type="text" placeholder="INTERN NAME" name="name" required><br>
          <input type="email" placeholder="INTERN EMAIL" name="email" required><br>
          <button type="submit">LOGIN </button><br>
          <span class="text"> Are you an <a href="/admin_login"> Admin? </a></span><br>
        </form>
        <a href="/intern_home">ih</a>
        </center>
        </div>
</body>
</html>