<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Intern's Home Page</title>
    <link rel="stylesheet" href="/static/css/intern_home.css">

      <!-- Bootstrap CSS -->
      <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous"> -->

</head>
<body>
        <nav class="navbar">
            <div class="nav-links">
                <a href="#"><img src="/static/images/turntabl.gif" alt="logo of turntable"></a>
                

                <a href="#" class="jjed">J J E D</a>
                <form action="/logout">
                    <button type="submit" >Log out</button>
                </form>
                
            </div>
        </nav>

        <section class="container">
<!-- 
            <div>
                 <img src="./3D-illustration-pack-for-figma-4-removebg-preview.png" alt="">
            </div> -->

           

            <section class="main-content">
                    <!-- <div class="model">
                         <img src="./3D-illustration-pack-for-figma-4-removebg-preview.png" alt="">
                    </div> -->
                    <form action="" method="POST">
                        <div class="switch">
                        {% if isChecked %}
                        <input disabled id="switch-1"  type="checkbox" name="checked" checked class="switch-input" />
                          <label for="switch-1" class="switch-label"></label>
                        {% else %}
                        <input id="switch-1" onchange="this.form.submit()"  type="checkbox" name="checked" class="switch-input" />
                          <label for="switch-1" class="switch-label"></label>
                        {% endif %}
                        </div>
                        <span>Check In</span>
                      </form>
                 
               
                      <div class="activity-tab">
                        <div>
                            <div class="titles">
                                <img src="https://img.icons8.com/bubbles/50/000000/stretching.png"/>
                                <h2>Activities For The Day</h2>
                            </div>
                            <hr>
    
                            {% for activity in activities %}
                            <p>
                                {{activity}}
                            </p>
                            {% endfor %}
    
                        </div>
                       
                    </div>
        
                    <div class="zoom-links-tab">
                        <div>
    
                            <div class="titles">
                                <img src="https://img.icons8.com/cute-clipart/64/000000/external-link.png"/>
                                <h2>Link To Zoom Call</h2>
                            </div>
                            <hr>
                            
                            {% for zoom_link in zoom_links %}
                            <p>
                               {{zoom_link}}
                            </p>
                            {% endfor %}
                        </div>
                    </div>
        
                    <div class="lab-links-tab">
                        <div>
                            <div class="titles">
                                <img src="https://img.icons8.com/fluent/48/000000/lab-items.png"/>
                                <h2>Links To Labs For The Day</h2>
                            </div>
                            <hr>
    
                            {% for lab_link in lab_links %}
                            <p>
                                {{lab_link}}    
                            </p>
                            {% endfor %}
                        </div>
                    </div>
                </section>
        
    
            <aside class="aside-section">
                <div>
                    <div class="news-tab">
                        <div class="titles">
                            <img src="https://img.icons8.com/cute-clipart/64/000000/news.png"/>
                            <h2>Upcomming Events</h2>
                        </div>
                        <hr>
                        
                        <ul>
                            <li>Lorem ipsum dolor sit amet.</li>
                            <li>Lorem ipsum dolor sit amet.</li>
                            <li>Lorem ipsum dolor sit amet.</li>
                            <li>Lorem ipsum dolor sit amet.</li>
                            <li>Lorem ipsum dolor sit amet.</li>
                            <li>Lorem ipsum dolor sit amet.</li>
                        </ul>
                    </div>
        
                    <div class="web-api-tab">
                        <div class="titles">
                            <img src="https://img.icons8.com/doodle/48/000000/water-resources-of-the-earth.png"/>
                            <h2>Developer News Updates</h2>
                        </div>
                        <hr>
                        <p>
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                            Nam ab tenetur, quos, assumenda saepe dolor 
                            libero officiis nobis facilis inventore, fugiat repellat! Consequatur, 
                            officia quibusdam magni unde molestiae nesciunt in.
                        </p>
                    </div>
        
                    <div class="calendar-tab">
                        <div class="titles">
                            <img src="https://img.icons8.com/cute-clipart/64/000000/planner.png"/>
                            <h2>Calendar</h2>
                        </div>
                        <hr>
                        
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas deserunt exercitationem 
                            sapiente debitis voluptatem perferendis ducimus fuga, tenetur, 
                            iusto consequatur aliquam soluta nulla eaque magnam.
                        </p>
                    </div>
                </div>
            </aside>
        </section>

        <footer>
            <div class="disp-flex">
                <div class="copy-1">
                    JJED | Developed By Group 5
                </div>
                <div class="copy-2">
                    Copyright &copy; Allrights Reserved - 2021 
                </div>
            </div>
          
        </footer>

        <!-- Bootstrap Bundle with Popper
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script> -->
</body>
</html>